
<form id="filter" class="filter-content">  
  <h2>Filter Posts By Age Group</h1> 
  <div class="mx-auto p-2">               
    <input class="filter-input" type="number" id="start" name="start" value="" min="45" max="60" step="5">
    <label  for="start">yrs<span class="px-2">to</span></label>                          
    <input class="filter-input" type="number" id="end" name="end" value="" min="45" max="60" step="5">
    <label for="end">yrs</label>   
  </div>    
 
  <button type="submit" id="btn-filter" class="filter">Filter!</button>                               
</form>

<div class="content-posts">

  {{#each posts as |post| }}

  <div class="post">

    <div class="posts-content">    

      <h2 class="post-title">             
        <a class="post-link" href="/post/{{post.id}}">{{post.post_text}}</a>
      </h2>
      
      <h2 id="birth" class="post-birth-date">{{post.user.birth_date}}</h2>
    
      <p class="post-meta">Posted by {{post.user.name}} on {{format_date post.created_at}}</p>
      
      <div class="post-image">
        <p>
            <a href="/post/{{post.id}}"><img class="post-img" src="{{post.img}}"></img></a>  
        </p>  
      </div>

      <div class="post-profile-image">
        <p>
            <a href="/post/{{post.id}}"><img class="post-img" src="{{post.profile_img}}"></img></a>  
        </p>  
      </div>

    </div>

  </div>

  {{/each}}

</div>

<script src="/js/filter.js"></script>


  
  
