<<<<<<< Updated upstream
  <div class="p-4 mt-8 flex flex-wrap flex-col border-2 border-gray-100 rounded shadow-xl shadow-current max-w-xl mx-auto">
=======

<div class="p-4 mt-8 flex flex-wrap flex-col border-2 border-gray-100 rounded shadow-xl shadow-current max-w-xl mx-auto">
>>>>>>> Stashed changes

    <div class="mx-auto">    

      <h2 class="py-5 flex flex-wrap flex-col text-2xl font-mono">{{post_text}}</h2>

      <p class="mx-auto"><img class="image mx-auto" src="{{img}}"></img></p>

      <p class="mx-auto"></div><img class="image mx-auto" src="{{profile_img}}"></img></p>    

      <p class="py-2 flex flex-wrap flex-col text-gray-500 italic font-mono">Posted by {{user.name}} on {{created_at}}</p>   

    </div>
      
  </div>

  <div class="p-4 m-4 flex flex-wrap flex-col border-2 border-gray-400 rounded shadow-xl shadow-current max-w-xl mx-auto bg-gray-400">
    
    <div class="mx-auto ">        
      <p class="mx-auto "><button class="btn btn-primary font-mono italic text-white ">Comment on this post</button></p>           
    </div>
      
  </div>
       