<div class="content-posts">

  <div class="post">   
     <div class="posts-content">    

    <h2 class="post-title">{{post_text}}</h2>

    <p class="post-image"><img class="post-img" src="{{img}}"></img></p>

    <p class="post-profile-image"></div><img class="post-img" src="{{profile_img}}"></img></p>    

    <p class="post-meta">Posted by {{user.name}} on {{format_date created_at}}</p>   
     
      {{#if comments.length}}
      <div class="comments">   
        {{#each comments as |comment|}}
        <div class="comments-detail">
          
          <p class="comment-text"><b>{{user.name}}:</b> {{comment_text}}</p>
          <p class="comment-date">{{format_date created_at}}</p>
         <!-- <hr />-->
        </div>
        {{/each}} 
      </div>
      {{/if}}
      </div>
  </div>      
</div>


  <div class="comment-group">   
      <form  class="edit-form" id="comment-form" >
        <p class="edit-text-container">
          <input type="hidden" id="post_id" value="{{id}}" name="post_id" />          
          <textarea class="edit-textarea" id="comment-input"></textarea>
        </p>
        <p >
          <button class="btn" type="submit" id="comment-button" >Comment on this post</button>
        </p>
      </form>     
  </div>
 

 <script src="/js/post.js"></script>
  


              