   <div class="edit-form-container">  
      <h1 class="">{{post_text}}</h1>
      <img class="image" src="{{img}}"></img>
      <img class="image" src="{{profile_img}}"></img>   
      <h3 class="post-date">Posted by {{user.name}} on {{format_date created_at}}</h3>   
     
      {{#if comments.length}}

        {{#each comments as |comment|}}
          <p class="date-text">{{format_date created_at}}</p>
          <p class="comment-text">{{user.name}}: {{comment_text}}</p>
          <hr />
        {{/each}} 
      {{/if}}
    </div>      

      <form id="comment-form" >
          <input type="hidden" id="post_id" value="{{id}}" name="post_id" />          
          <textarea id="comment-input" class="edit-textarea"></textarea>
          <button class="btn" type="submit" id="comment-button" >Comment on this post</button>
      </form>

 <script src="/js/post.js"></script>
  


              