 
<div> 

  {{#if posts.length}} 

  {{#each posts as |post|}}

      {{#if post.profile_img}} 
  
      <div class="profile-frame">
        <a href="/edit/{{post.id}}"><img class="profile-pic" src="{{post.profile_img}}"></img></a>
      </div>   

      {{/if}}
    
    {{/each}}  
      
    {{/if}}
    
<div id="profile-btn" class="form-group flex flex-wrap mt-2">      
    <button id="profile_widget" class="btn btn-primary text-white rounded-lg bg-gray-200 hover:bg-gray-300 mx-auto py-2 px-4">Add Profile Photo</button>  
</div>
  
</div>
 <div class="createPost">

                        <h3 class="mini-headign">Create Post</h3>
                        <div id="new-post" class="post-text">
                            <!--pfp can go here?-->
                            
                        <form class=" new-post-form">
                            <label for="post-text"></label>
                            <input type="text-area" id="post-text" name="post-text" placeholder="What's on your mind, {{name}}">
                        </form>
                        </div>

                        <div class="post-icon">
                         <button type="submit" class="post-btn">Post</button> 
                         <button id="upload_widget" class="post-btn">Add Photo</button>  


                        </div>

                    </div>
    
{{#if posts.length}}
<div id="profile" class="content-posts">

  {{#each posts as |post|}} 

<div class="post-container">
  <div class="post-content">
    <h2 class="post-title">
      <a href="/edit/{{post.id}}">{{post.post_text}}</a>
    </h2>
    <p class="post-info">{{format_date post.created_at}}</p>
    <div class="post-image-container">
      <a href="/edit/{{post.id}}"><img class="post-image" src="{{post.img}}"></a>
    </div>
    <div class="post-image-container">
      <a href="/edit/{{post.id}}"><img class="post-image" src="{{post.profile_img}}"></a>
    </div>
  </div>
  <div class="post-action">
    <button class="post-btn delete-btn" data-id="{{post.id}}">DELETE</button>
    <a href="/edit/{{post.id}}" class="post-btn edit-btn">EDIT</a>
  </div>
</div>

  {{/each}} 
</div>
{{/if}}


<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">
</script>
<script src="/js/profile.js"></script>